# Compiled
*.class
*.jar

# Log file
*.log

# Gradle
.gradle
/build/
*/build/
gradle-app.setting
!gradle-wrapper.jar

# IntelliJ IDE Project Files #
*.iml
.idea/*
!.idea/runConfigurations
*.versionsBackup
pom.xml.versionsBackup
jacoco.exec
/out

# Android
local.properties

# MacOS
*.DS_Store

# Javascript
node_modules/

# Secrets
.github/workflows/pgp/github_actions.key.passphrase
