name: Test

on:
  pull_request:
    branches: [main]
  workflow_call:

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          # Test on macOS for the macOS build targets
          - macos-latest
    runs-on: ${{matrix.os}}
    name: Test on ${{matrix.os}}
    steps:
      - uses: actions/checkout@v5
        name: Checkout
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11
          cache: 'gradle'
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT
      - name: Cache Kotlin JS/Native dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan
            ~/.npm
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: build-${{ runner.os }}-${{ hashFiles('build.gradle.kts', '**/gradle-wrapper.properties', 'settings.gradle.kts', 'kotlin-js-store/yarn.lock') }}
          restore-keys: |
            build-${{ runner.os }}-${{ hashFiles('build.gradle.kts') }}
            build-${{ runner.os }}-
      - name: Assemble & Test project
        run: ./gradlew build
